#p {
    position: relative;
    height: 50%;
}
#p::before {
    content: '';
    background-image: url('https://www.azernews.az/media/pictures/industry2.jpg');
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -2;
}

.tabitem {
    cursor: pointer;
    color: #1d4ff0;
}

.tabitem--inactive {
    opacity: 0;
}
